{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
  <div class="row">
    <div class="large-12 columns">

        <h1>{{ object.expo }}</h1>

<div class="row">
<div class="large-12 columns">
<div class="row">

<div class="large-4 columns">
{% thumbnail object.imagen "500x400" as im %}
  <img src="{{ im.url }}" alt="{{ object.imagen }}" width="{{ im.width }}" height="{{ im.height }}" />
</div>
<div class="large-8 columns">
<i>{{ object.texto|linebreaks }}</i>
</div>

</div>
</div>
</div>

<div class="row">
<div class="large-12 columns">
    <table class="table table-striped">
       <thead>
        <tr>    
          <th>Título</th>
          <th>Serie</th>
          <th>Expo</th>
        </tr>
       </thead>
        {% for item in object.foto_set.all %}
        <tr>
         <td>
           <a href="{% url 'foto_detail' item.pk %}">
            {% thumbnail item.imagen "100x100" crop="center" as im %}
              <img src="{{ im.url }}" alt="{{ item.imagen }}" width="{{ im.width }}" height="{{ im.height }}" />
            {{ item.foto }}</a>
         </td>
         <td>
           {{ item.serie }}
         </td>
         <td>
            {% for expo in item.expo.all %}
                {{ expo.expo }}.
            {% endfor %}
         </td>
       </tr>
        {% endfor %}
    </table>
 </div>
 </div>

    </div>
   </div>
{% endblock %}
