{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}
  <div class="row">
    <div class="large-12 columns">
        <h1>Fotos</h1>
    <table class="table table-striped">
        <tr>
         <td>
           <a href="{% url 'foto_detail' object.pk %}">{{ object.foto }}</a>
         </td>
         <td>
           <a href="{% url 'serie_detail' object.serie.pk %}">{{ object.serie }}</a>
         </td>
         <td>
            {% for expo in object.expo.all %}
                <a href="{% url 'expo_detail' expo.pk %}">{{ expo.expo }}</a>. 
            {% endfor %}
         </td>
       </tr>
    </table>
    {% thumbnail object.imagen "1000x0" as im %}
      <img src="{{ im.url }}" alt="{{ object.imagen }}" width="{{ im.width }}" height="{{ im.height }}" />
 </div>
</div>
{% endblock %}
